<br>
<form class="form-inline">

  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" id="produto" name="produto" [(ngModel)]="produto"
      placeholder="Pesquisar Produto">
  </div>
  <button type="button" class="btn btn-primary mb-2" style="margin-right: 10px;"
    (click)="buscaMercado()">Buscar</button>
  <button type="button" class="btn btn-primary mb-2" (click)="atualizaPagina();">Atualizar</button>
  <br>
  <button type="button" class="btn btn-primary mb-2" style="margin-left: 5px;" data-toggle="modal"
    data-target="#myModal" (click)="imprimeRelatorio()">Relatório</button>
</form>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 style="text-align: center;">Tabela de dados cadastrados</h6>

      <div class="d-flex justify-content-center" *ngIf="loading">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>




  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">PRODUTO</th>
            <th scope="col">PREÇO</th>
            <th scope="col">COLABORADOR</th>
            <th scope="col">NOME DO MERCADO</th>
            <th scope="col">EXCLUIR</th>

          </tr>
        </thead>
        <tfoot>




          <th scope="col">ID</th>
          <th scope="col">PRODUTO</th>
          <th scope="col">PREÇO</th>
          <th scope="col">COLABORADOR</th>
          <th scope="col">NOME DO MERCADO</th>
          <th scope="col">EXCLUIR</th>


        </tfoot>
        <tbody>

          <tr>
          <tr

            *ngFor="let mercado of merc | paginate:{ itemsPerPage:5, currentPage: pg, totalItems:total }let  pg; let i = index;">

            <td>{{mercado.id}}</td>
            <td>{{mercado.produto}}</td>
            <td>{{mercado.preco}}</td>
            <td>{{mercado.colaborador}}</td>
            <td>{{mercado.nomeMercado}}</td>
            <td> <button (click)="deletarMercadinho(mercado.id, i)" class="btn btn-danger">Excluir</button> </td>



          </tr>
          <tr>
        </tbody>
      </table>

      <!-- RODAPÉ DA PAGINACÃO-->
      <div class="text-center">
        <pagination-controls (pageChange)="carregaPagina(pg = $event);" previousLabel="Voltar" nextLabel="Avançar"
          responsive="true"></pagination-controls>
      </div>
    </div>
  </div>



  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; ID PACK</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="min-width: 80%; min-height: 80%; height: 80%;">
    <div class="modal-content">
      <div class="modal-body">
        <iframe id="pdf" width="100%" height="400" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
