<div class="login">

  <div class="card">
    <div class="card-header">
      <h2 class="text-center">Login</h2>
    </div>
    <div class="card-body">
      <form>
        <label for="login">E-mail</label>
        <input type="email" class="form-control" #email="ngModel" [(ngModel)]="usuario.username" name="login"
          placeholder="Informe o Email" required>




        <label for="senha">Senha:</label>
        <input type="password" class="form-control" #senha="ngModel" [(ngModel)]="usuario.password" id="senha"
          name="senha" placeholder="Informe sua senha" required>


        <br>
        <button type="button" [disabled]="email.invalid || senha.invalid" class="btn btn-lg btn-primary btn-block"
          (click)="login()"> Acessar </button>

      </form>
    </div>

  </div>

</div>
